<div class="blogs" ng-controller="blogs">
    博客页面
    <a ui-sref="addblog">添加博客</a>

    <section>
        <ul class="">
            <li class="aBlog" ng-repeat="blog in blogs" ng-click="toBlog(blog._id)">
                <span>
                    《{{blog.blog.title}}》
                </span>
                <div class="blog" >
                    <time>{{blog.time.day}} {{blog.time.minute}} </time>
                    <span>( {{blog.answers.length}} )</span>
                </div>
            </li>
        </ul>
    </section>
</div>