<div class="home" ng-controller="home">
    <section>
        <form ng-submit="postMood()">
            <textarea ng-model="mood" cols="30" rows="2" autofocus style="resize:none" placeholder="随便说点什么"></textarea>
            <input type="submit" value="签到">
        </form>
    </section>
    <section>
        <ul>
            <li ng-repeat="dynamic in dynamics">
                <time>{{dynamic.time.day}} </time>
                <div ng-show="dynamic.type == 'mood'">
                    <div>
                        <p>{{dynamic.mood}}</p>
                    </div>

                </div>
                <div ng-show="dynamic.type == 'blog'">

                    <p ng-click="toBlog(dynamic._id)">
                        《{{dynamic.blog.title}}》
                    </p>
                    
                </div>
            </li>
        </ul>
    </section>
</div>