<div class="signin" ng-controller="signin">
    <section>
        <div id="message" class="errorbox" ng-show="word" >{{word}}</div>
        <div class="form">
            <form name="form" ng-submit="signin()">
                <input type="text" ng-change="change()" ng-click="errorBye()" ng-model="formData.name" required autofocus placeholder="请输入用户名"><br>
                <input type="password" ng-click="errorBye()" ng-model="formData.password" required placeholder="请输入密码"><br>
                <input type="password" ng-click="errorBye()" ng-model="formData.passwordRepeat" required placeholder="请再次输入密码"><br>
                <input type="email" ng-click="errorBye()" ng-model="formData.email" required placeholder="请输入邮箱"><br>
                <input type="submit" ng-disabled="form.$invalid" value="注册"><br>
            </form>
            <a ui-sref="login">已有账号登录</a>
        </div>
    </section>
</div>